# Arquivos de configuração
*.pyc
*.pyo
*.pyd
__pycache__

# Ambiente virtual
venv/
env/

# Arquivos de ambiente
.env

# Arquivos de banco de dados
db.sqlite3
*.sqlite3

# Arquivos de log
*.log

# Arquivos de configuração de IDE
.idea/
.vscode/

# Dependências (pode variar dependendo do seu gerenciador de pacotes)
node_modules/
pipenv/
Pipfile.lock

# Arquivos gerados durante o build
__pycache__/
/migrations/
*.pyc

# Arquivos temporários
*.swp

# Arquivos de mídia
media/
